* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #F0FBF5;
    height: 150px;
    width: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    margin-right: 1vw;
    padding: 0px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.nav-link {
    font-size: 20px;
    color: #216D66;
}

.navbar-brand {
    margin-left: 54px;
}

.dropdown-item {
    color: #606060;
    margin: 20px;
    padding: 0px;
    width: 0%;
}

.dropdown-item:hover {
    color: #216D66;
}

.dropdown-menu {
    background-color: white;
    opacity: 80%;
    border: none;
    margin-top: 50px;
}

.collapse {
    align-items: center;
}

.aboutUsBG {
    width: 100vw;
}

.earth {
    margin-left: 8vw;
}

/*頭*/

.top {
    background: center top fixed;
    /*不重覆排列、靠上置中、固定位置*/
    background-image: url("SZUSRC/TOP.png");
    background-size: cover;
    /*不變形，寬高等比例，在必要時局部裁切*/
    height: 579px;
    padding: 10px;
    margin: 0px;
}

.intop {
    font-size: 36px;
    color: white;
    width: 30vw;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.inhr1 {
    z-index: -1;
    background-color: #6BD7CD;
    height: 3px;
    border: none;
    width: 400px;
    margin-top: 15px;
}

/*頸*/

.header-text {
    margin-top: 350px;
    margin-left: 10vw;
}

.introo {
    margin-top: 55px;
    text-align: center;
    margin-bottom: 172px;
}

.introo-text {
    color: #606060;
    font-size: 26px;
    padding: 10px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.inhr2 {
    z-index: -1;
    background-color: #BDF2F9;
    height: 5px;
    border: none;
    width: 326px;
    margin: auto;
}

.inhr3 {
    z-index: -1;
    background-color: #606060;
    height: 1px;
    border: none;
    width: 95vw;
    margin: auto;
}

/*鎖骨*/

.PPA {
    margin-top: 30px;
    margin-left: 10vw;
}

.HH1 {
    font-size: 76px;
    color: #6BD7CD;
    font-weight: bold;

    margin-bottom: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH2 {
    font-size: 26px;
    color: #30ADA2;

    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH3 {
    font-size: 26px;
    color: #000000;

    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH4 {
    font-size: 20px;
    color: #606060;

    margin-top: 35px;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH4-1 {
    font-size: 20px;
    color: #606060;

    margin-top: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH5-1 {
    font-size: 26px;
    color: #000000;

    margin-top: 120px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH5 {
    font-size: 26px;
    color: #000000;

    margin-top: 48px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.PP {
    display: inline-flex;
    justify-content: space-evenly;
}

.PPB {
    width: 546px;
    /*margin-left: 250px;*/
    margin-left: 20vw;
    margin-top: 15vw;
}

.PPBP {
    width: 546px;
    height: 333px;
}

.HH3-1 {
    font-size: 26px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.HH6 {
    margin-top: 52px;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}


.more {
    width: 150px;
    height: 50px;
    border: 2px #C2C2C2 solid;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    border-radius: 45px;
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-top: 8vw;
    float: right;
}

.more:hover {
    font-weight: bold;
    color: #000000;
    background-color: #F0FBF5;
    border: 2px #C2C2C2 solid;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/*胸*/

.GGB {
    background: center top fixed;
    /*不重覆排列、靠上置中、固定位置*/
    background-image: url("SZUSRC/GGB.png");
    background-size: cover;
    /*不變形，寬高等比例，在必要時局部裁切*/
    width: 100%;
    height: 811px;
    padding: 30px;
    margin-top: 10vw;

    /* 水平置中 */
    justify-content: center;
}

#GGBP {
    display: flex;
    /* 水平置中 */
    justify-content: center;
    width: 47px;
    height: 24px;
    margin: auto;
    color: #000000;
}



.GGBT-1 {
    color: white;
    font-size: 28px;
    margin-top: 40px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.GGBT-2 {
    color: #6BD7CD;
    font-size: 20px;
    margin-top: 15px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.GGBT-3 {
    color: white;
    font-size: 36px;
    margin-top: 170px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.GGBT-4 {
    color: white;
    font-size: 20px;
    margin-top: 57px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.GGBT-4-1 {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.more1 {
    position: relative;
    left: 80%;
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: #30ADA2;
    color: white;
    border-radius: 45px;
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    transform: translate(-50%, -50%);
    margin-top: 10vw;
}

.more1:hover {
    font-weight: bold;
    color: white;
    background-color: #51cec3;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/*肺*/
.CR {
    position: relative;
    justify-content: center;
}

#CRT1 {
    font-size: 76px;
    color: #30ADA2;
    font-weight: bold;

    margin-top: 105px;
    margin-bottom: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    position: absolute;

    top: 10%;
    left: 6%;
    transform: translate(-20%, -80%);
    z-index: 1000;

}

#CRP {
    width: 740px;
    height: 740px;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-0%, -80%);


}