* {
	box-sizing: border-box;
    margin:0%;
}

header{
    display: flex;
    background-color: #F0FBF5;
    padding:2%;
    align-items: center;
}

.navbar {
    background-color: #F0FBF5; 
    height: 150px;
    width:100%;
}

.nav-item{
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    margin-right: 1vw;
    padding:0px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.nav-link {
    font-size: 20px;
    color: #216D66;
}

.navbar-brand{
    margin-left: 54px;
}

.dropdown-item {
    color: #606060;
    margin: 20px;
    padding: 0px;
    width:0%;
}

.dropdown-item:hover {
    color:#216D66;
}

.dropdown-menu {
    background-color: white;
    opacity: 80%;
    border: none;
    margin-top: 50px;
}

.collapse{
    align-items: center;
}

.aboutUsBG {
    width: 100vw;
}

.earth {
    margin-left: 8vw;
}

.aboutUsBG {
    background: url("/src/aboutUs_bg.png");
    height: 100vh;
    position: relative;
    z-index: 1;
    align-items: center;
}

.hand {
    z-index: 0;
    position: absolute;
    width: 100vw;
}

.humanText {
    position: absolute;
    z-index: 1;
    top:75vh;
    left: 12vw;
    font-size: 56px;
}

.humanText2 {
    position: absolute;
    z-index: 1;
    top: 85vh;
    left: 12vw;
    font-size: 32px;
}

h1{
    color: #313131;
}

.intro {
    display: block;
    justify-content: center;
    width: 100vw;
}

h3 {
    font-size: 24px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #323232;
    width: 60vw;
    word-spacing: 10%;
    line-height: 231%;
}

.logo {
    width:386px;
    height: 79px;
    justify-content: center;
    margin-top: 10vh; 
    margin-bottom: 10vh; 
}