* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------------------導覽列-------------------------------*/

.navbar {
    background-color: #F0FBF5;
    height: 150px;
    width: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    margin-right: 1vw;
    padding: 0px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.nav-link {
    font-size: 20px;
    color: #216D66;
}

.navbar-brand {
    margin-left: 54px;
}

.dropdown-item {
    color: #606060;
    margin: 20px;
    padding: 0px;
    width: 0%;
}

.dropdown-item:hover {
    color: #216D66;
}

.dropdown-menu {
    background-color: white;
    opacity: 80%;
    border: none;
    margin-top: 50px;
}

.collapse {
    align-items: center;
}

.earth {
    margin-left: 8vw;
}

/*-------------------------------手手-------------------------------*/

.parallax-container {
    height: 90vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background-layer {
    background-image: url("pic/aboutUs_bg.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 120%;
}

.foreground-layer {
    width:100%;
    background-image: url("pic/twoHands.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 120%;
}

.humanText {
    position: absolute;
    z-index: 1;
    top: 75%;
    left: 12%;
    font-size: 48px;
    color: #313131;
    font-weight: 600;
}

.humanText2 {
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 12%;
    font-size: 32px;
    color: #313131;
    font-weight: 600;
}

/*-------------------------------公司介紹-------------------------------*/

.intro {
    position: relative;
    width: 1070px;
    height: 514px;
    left: calc(50% - 1070px/2);
    top: 200px;
    margin-bottom: 300px;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 231%;
    letter-spacing: 0.1em;
    color: #313131;
}

.logo {
    position: relative;
    width: 386px;
    height: 79px;
    left: calc(50% - 386px/2);
    top: -80px;
}

/*-------------------------------橫向-------------------------------*/

.wrapper {
    display: flex;
    width: 620vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    background-color: white;
}

.container {
    height: 100vw;
    width: 100vh;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
}

.line {
    position: absolute;
    width: 620vw;
    height: 4px;
    left: 186px;
    top: 714px;
    border: 4px;
    background: #6BD7CD;
    z-index: 0;
}

/*-------------------------------橫向slide1-------------------------------*/

.slide1 {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #313131;
}

.past_us_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: white;
    text-align: center;

    margin-top: 20px;
    width: 328px;
    padding: 20px 0px 20px 0px;
    background-color: #6BD7CD;
    border-radius: 0px 50px 50px 0px;
}

h4 {
    position: relative;
    left: calc(50% - 50vw/2);
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 170%;

    letter-spacing: 0.1em;
    color: #6BD7CD;
}

p {
    width: 50vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 170%;
    letter-spacing: 0.1em;
    color: white;
    margin-top: 50px;
}

.p1 {
    position: relative;
    left: calc(50% - 50vw/2);
    top: 100px;
}

.circle1 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 156px;
    top: 700px;
    background: #6BD7CD;
    border-radius: 50%;
}

/*-------------------------------橫向slide2-------------------------------*/

.slide2 {
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 110vw;
    background-color: white;
    margin: 0px;
}

.now_us_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: white;
    text-align: center;

    margin-top: 20px;
    width: 328px;
    padding: 20px 0px 20px 0px;
    background-color: #6BD7CD;
    border-radius: 0px 50px 50px 0px;
}

.wrapper_table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 0px;
    margin: 0;
    z-index: 0;
}

h2 {
    top: 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 7.5vh;
    color: #30ADA2;
}

.box1 {
    width: 18vw;
    background-color: white;
    height: 100vh;
    border-left: 2px dotted #D9D9D9;
}

.box2 {
    width: 19vw;
    background-color: white;
    height: 100vh;
    border-left: 2px dotted #D9D9D9;
}

.box3 {
    width: 55vw;
    background-color: white;
    height: 100vh;
    border-left: 2px dotted #D9D9D9;
}

.box4 {
    width: 18vw;
    background-color: white;
    height: 100vh;
    border-left: 2px dotted #D9D9D9;
    border-right: 2px dotted #D9D9D9;
}

/*-------------------------------橫向slide3-------------------------------*/

.slide3 {
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    background-color: #313131;
}

.circle2 {
    position: absolute;
    width: 32px;
    height: 32px;
    left: calc(200%+156px);
    top: 700px;
    background: #6BD7CD;
    border-radius: 50%;
}

/*-------------------------------橫向slide4-------------------------------*/

.slide4 {
    display: flex;
    position: relative;
    z-index: 0;
}

.tablet {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

h5 {
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 170%;
    letter-spacing: 0.1em;
    color: white;
    z-index: 2;
    width: 803px;
    top: 632px;
    left: 8vw;
}

/*-------------------------------橫向slide5-------------------------------*/

.slide5 {
    display: flex;
    position: relative;
    z-index: -1;
}

.wrapper_history {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    gap: 0px;
    margin: 0;
    z-index: 0;
}

.space1 {
    display: flex;
    width: 17vw;
    background-color: white;
    height: 100vh;
}

.wrapper_list {
    margin: 0px 0px 0px 16px;
    display: flex;
    position: absolute;
    top: 40vh;
    justify-content: center;
    align-items: center;
}

.wrapper_list1 {
    position: absolute;
    top: 172px;
    justify-content: center;
    align-items: center;
}

.wrapper_list2 {
    display: flex;
    margin: 0px 0px 10vh 16px;
    align-items: center;
}

h6 {
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 170%;
    color: #313131;
    letter-spacing: 0.1em;
}

.list {
    width: 16px;
    height: 16px;
    background: white;
    border: 3px solid #6BD7CD;
    border-radius: 50%;
}

.foundation {
    letter-spacing: 0.1em;
    color: #313131;
}

.award2019 {
    color: #313131;
}

.year {
    position: absolute;
    top: 88vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;

    letter-spacing: 0.1em;
}

.space2 {
    width: 25vw;
    background-color: white;
    height: 100vh;
}

.space3 {
    width: 46vw;
    background-color: white;
    height: 100vh;

}

.space4 {
    width: 50vw;
    background-color: green;
    height: 100vh;
    border-left: 2px dotted #D9D9D9;
}

.space5 {
    width: 66vw;
    background-color: blue;
    height: 100vh;
    border-left: 2px dotted #D9D9D9;
}

.space6 {
    width: 18vw;
    background-color: purple;
    height: 100vh;

}
